<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.android.todd">

<!--
    <application android:allowBackup="true" android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher" android:supportsRtl="true"
        android:theme="@style/AppTheme">

    </application>
-->

    <application
        android:name=".TransactionOnDemandApp"
        android:icon="@mipmap/tod_icon"
        android:label="@string/app_name"
        android:manageSpaceActivity="com.salesforce.androidsdk.ui.ManageSpaceActivity">
        <!--android:theme="@style/AppTheme">-->

        <!-- Launcher screen -->
        <activity android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

    <permission android:name="com.android.todd.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.android.todd.C2D_MESSAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
</manifest>
